34.94.176.219:80 {
        reverse_proxy 34.102.10.152:3002 34.94.24.115:3002 {
                lb_policy round_robin
                lb_try_duration 1s
                lb_try_interval 250ms

                health_uri /health
                health_interval 2s
                health_timeout 6s
                health_status 200
        }
}